checkpoint/
__pycache__/
.cache/
logs/
wandb/

experiments/**/*.tsv
experiments/**/*.csv
experiments/**/bert-base-multilingual-cased
experiments/**/*.json
experiments/**/*.txt
experiments/**/*.conllu
experiments/**/*.jsonl
experiments/**/*.md
experiments/**/*.xml
experiments/**/*.tgz

.DS_Store
score_outputs/*.csv
score_outputs/*.zip
*.pdf
*.npy
*.png
*.pt
*.bin

