checkpoint*/
__pycache__/
.cache/
logs/
runs/
wandb/

*.csv
*.svg
*.np
*.tsv
*.json
*.txt
!requirements.txt
*.conllu
*.jsonl
*.md
!README.md
*.xml
*.tgz
*.zip
*.pdf
*.npy
*.png
*.pt
*.bin
*.log
*.pkl

bert-base-multilingual-cased/

.DS_Store

